.large{ height:100px; width:100px; margin-Bottom:10px;}
.dkpal{background-color:#01509f; padding:50px 0; border-top-left-radius:10px; border-top-right-radius:10px;}
.login{background-color:#ffffff; padding:0 30px; border-Bottom-left-radius:10px;  border-Bottom-right-radius:10px;}
.mainlogin{background-color:#e0e0e0; padding:30px; border-Radius:10px;}
.color{color:#ffffff;}
.color2{color:#999; font-size:20px !important;}
.flot1{float:right;}
.inputdata{padding:5px; margin:0px;}